body {
  background-color: black;
  color: white;
}
#sidebar {
  float: inline-end;
  background-color: indigo;
  border: 6px;
  padding: 4px;
}
.column {
  width: 500px;
  float: right;
}
#img {
  max-width: 100%;
  padding: 14px;
}
#img-caption {
  font-size: 50px;
  font: monospace;
  padding-left: 15%;
  max-width: 100%;

}
#img-div {
  width: 100%;
  align-items: center;
  align-content: center;
}
